# DBs
QUARKUS_DATASOURCE_PASSWORD="${POSTGRES_PASSWORD}"
MINIO_ACCESS_KEY="${MINIO_ACCESS_KEY}"
MINIO_SECRET_KEY="${MINIO_SECRET_KEY}"
QDRANT_API_KEY="${QDRANT_PASSWORD}"
QUARKUS_REDIS_CHAT_MEMORY_PASSWORD="${REDIS_PASSWORD}"
QUARKUS_REDIS_CHAT_HISTORY_PASSWORD="${REDIS_PASSWORD}"

# OIDC
QUARKUS_OIDC_CREDENTIALS_SECRET=

# API keys
OPENAI_API_KEY=
AZURE_API_KEY=
MISTRAL_API_KEY=
GOOGLE_GEMINI_API_KEY=
