# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Local environment
.env

# TLS Certificates
.certs/

# Configuration
config/application.yaml

# Docker volumes
minio_data/
postgres_data/
qdrant_data/
redis_data/
