# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Local environment
.env

# TLS Certificates
.certs/

# Configuration
config/application.yaml

# Docker volumes
postgres/
minio/
redis/
qdrant/
